# Postgres data for docker-compose
.postgres-data/

# Secret key
.secret_key.env

# Python cache
**/__pycache__/
.pytest_cache/

# Pyright
pyrightconfig.json

# pytest-cov
htmlcov/
.coverage
coverage.xml

.direnv
