---
services:
  app:
    image: python:3.12
    container_name: protaskinate-app
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/protaskinate
      DEBUG: true
    command: >
      bash -c "pip install poetry && poetry install && poetry run invoke generate-secret-key && poetry run invoke create-schema && poetry run invoke populate-db && poetry run invoke dev"
    working_dir: /usr/src/app
    ports:
      - "5000:5000"
    volumes:
      - .:/usr/src/app
  postgres:
    image: postgres:14-alpine
    container_name: protaskinate-postgres
    ports:
      - "5432:5432"
    volumes:
      - ./.postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: protaskinate
