<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - ProTaskinate</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >
        <style>
            :root {
                --background-offset: 1%;
                --bulma-link-h: 269deg;
                color-scheme: dark;
            }
            .menu {
                --bulma-menu-item-background-l-delta: 1%;
                --bulma-menu-item-hover-background-l-delta: 3%;
                --bulma-menu-item-active-background-l-delta: 5%;
            }
        </style>
	</head>
	<body>
        <div>
            <aside class="menu p-4" style="height: 100%; width: 350px; position: fixed; background-color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-scheme-main-l) + var(--background-offset)))">
                <h1 class="title is-1">ProTaskinate</h1>
                {% if current_user.is_authenticated %}
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for("dashboard.dashboard_route") }}" class="{% if url_for("dashboard.dashboard_route") in request.path %}is-active{% endif %}">Dashboard</a></li>
                        <li><a href="{{ url_for("project.project_list_route") }}" class="{% if url_for("project.project_list_route") in request.path %}is-active{% endif %}">Projects</a></li>
                    </ul>
                    <p class="menu-label">User ({{ current_user.username }})</p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for("logout.logout_route") }}">Logout</a></li>
                    </ul>
                {% else  %}
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for("login.login_route") }}" class="{% if url_for("login.login_route") in request.path %}is-active{% endif %}">Login</a></li>
                        <li><a href="{{ url_for("register.register_route") }}" class="{% if url_for("register.register_route") in request.path %}is-active{% endif %}">Register</a></li>
                    </ul>
                {% endif %}
            </aside>
            <div style="margin-left: 350px">
                <section class="section column">
                    <div class="container">
                    {% block content %}{% endblock %}
                    </div>
                </section>
            </div>
        </div>
	</body>
</html>
