{% from "macros.html" import nav_link %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - ProTaskinate</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <style>
            :root {
                --background-offset: 1%;
                --bulma-link-h: 269deg;
                color-scheme: dark;
            }
            .menu {
                --bulma-menu-item-background-l-delta: 1%;
                --bulma-menu-item-hover-background-l-delta: 3%;
                --bulma-menu-item-active-background-l-delta: 5%;
            }
        </style>
	</head>
	<body>
        <div>
            <aside class="menu p-4" style="height: 100%; width: 350px; position: fixed; background-color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-scheme-main-l) + var(--background-offset)))">
                <h1 class="title is-1">ProTaskinate</h1>
                {% if current_user.is_authenticated %}
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li>
                            {{ nav_link(url_for("dashboard.dashboard_route"), "Dashboard") }}
                        </li>
                        <li>
                            {{ nav_link(url_for("project.project_list_route"), "Projects") }}
                            {% if project %}
                            <ul class="menu-list">
                                <li>
                                    {{ nav_link(url_for("project.project_view_route", project_id=project.id), "View") }}
                                    {% if task %}
                                        <ul class="menu-list">
                                            <li>
                                                {{ nav_link(url_for("project.project_task_view_route", project_id=project.id, task_id=task.id), task.title) }}
                                            </li>
                                        </ul>
                                    {% endif %}
                                </li>
                                <li>
                                    {{ nav_link(url_for("project.project_board_route", project_id=project.id), "Board") }}
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                    <p class="menu-label">User ({{ current_user.username }})</p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for("logout.logout_route") }}">Logout</a></li>
                    </ul>
                {% else  %}
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for("login.login_route") }}" class="{% if url_for("login.login_route") in request.path %}is-active{% endif %}">Login</a></li>
                        <li><a href="{{ url_for("register.register_route") }}" class="{% if url_for("register.register_route") in request.path %}is-active{% endif %}">Register</a></li>
                    </ul>
                {% endif %}
            </aside>
            <div style="margin-left: 350px">
                <div class="container">
                    <div class="is-flex is-flex-direction-column mt-4" style="gap: 8px; position: fixed; z-index: 10; width: 75%;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="notification is-{% if category == "error" %}danger{% elif category == "success"%}success{% else %}info{% endif %}">
                                            <button class="delete"></button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <section class="hero">
                        <div class="hero-body">
                            <h1 class="title is-2">{% block hero_title %}{% endblock %}</h1>
                            <h2 class="subtitle">{% block hero_description %}{% endblock %}</h2>
                        </div>
                    </section>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
	</body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
            document.querySelectorAll('time').forEach($e => {
                const date = new Date($e.dateTime);
                $e.innerHTML = date.toLocaleString();
            });
        });
    </script>
</html>
