<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - ProTaskinate</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >
	</head>
	<body>
        <section class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title">ProTaskinate</p>
                </div>
            </div>
        </section>
        <div class="block container">
            {% block content %}{% endblock %}
        </div>
	</body>
</html>
