{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h2 class="title is-2">Projects</h2>
<div class="fixed-grid has-3-cols">
    <div class="grid">
        {% for project in projects %}
            <div class="cell">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ project.name }}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for("project.project_view_route", project_id=project.id) }}" class="card-footer-item">View</a>
                        <form method="POST" action="{{ url_for("project.project_delete_route", project_id=project.id) }}" class="card-footer-item project-delete-form p-0">
                            <button type="submit" class="has-text-link" style="width: 100%; height: 100%">Delete</button>
                        </form>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
<div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".project-delete-form").forEach(form => {
            form.addEventListener("submit", event => {
                if (!confirm("Are you sure you want to delete this project and all of its contents?")) {
                    event.preventDefault();
                }
            });
        });
    });
</script>
{% endblock %}
