{% from "macros.html" import update_task_status_form, update_task_priority_form, update_task_assignee_form, update_task_deadline_form, disable_form_if_no_task_update_access, format_datetime, csrf_token_input %}
{% extends "base.html" %}
{% block title %}{{task.title}}{% endblock %}
{% block content %}
<div class="p-4">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title"><span>{{project.name}}</span><span class="mx-2">/</span><span>task-{{ task.id }}</span></p>
            <div>
                <form method="POST" action="{{url_for("project.project_task_delete_route", project_id=project.id, task_id=task.id)}}" class="task-delete-form">
                    {{ disable_form_if_no_task_update_access(user_project_role, task, current_user) }}
                    {{ csrf_token_input() }}
                    <div class="control">
                        <button class="button card-header-icon" type="submit">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <a href="{{url_for("project.project_view_route", project_id=project.id)}}" class="card-header-icon">
                    <span class="icon">
                        <i class="fas fa-x"></i>
                    </span>
                </a>
            </div>
        </header>
        <div class="card-content">
            <div class="content is-flex" style="gap: 16px">
                <div class="container is-flex is-flex-direction-column" style="flex-basis: 75%; gap: 2em;">
                    <div>
                        <h2 class="title is-3">{{ task.title }}</h2>
                    </div>
                    <div>
                        <h3>Description</h3>
                        <div class="content py-2">
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <div>
                        <h3>Comments</h3>
                        <div class="is-flex mb-4">
                            <div>
                                <span class="icon is-large">
                                    <i class="fas fa-user fa-xl"></i>
                                </span>
                            </div>
                            <div class="field is-flex-grow-1">
                                <form method="POST">
                                    {{ form.hidden_tag() }}
                                    <div class="field">
                                        <div class="control">
                                            {{ form.content(class="textarea") }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            {{ form.submit(class="button is-link") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="is-flex is-flex-direction-column" style="gap: 8px">
                            {% for comment in comments %}
                                <div class="is-flex">
                                    <div>
                                         <span class="icon is-large">
                                            <i class="fas fa-user fa-xl"></i>
                                         </span>
                                    </div>
                                    <div>
                                        <div class="is-flex is-align-items-center" style="gap: 4px">
                                            <strong class="is-bold">{{ users_dict[comment.creator_id].username }}</strong>
                                            <p class="is-size-7">{{ comment.created_at.strftime("%d/%m/%Y") }}</p>
                                        </div>
                                        <div class="content">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="field">
                        <label class="label">Status</label>
                        {{ update_task_status_form(project, task, user_project_role, current_user) }}
                    </div>
                    <div class="field">
                        <label class="label">Priority</label>
                        {{ update_task_priority_form(project, task, user_project_role, current_user) }}
                    </div>
                    <div class="field">
                        <label class="label">Assignee</label>
                        {{ update_task_assignee_form(project, task, user_project_role, current_user, users_dict) }}
                    </div>
                    <div class="field">
                        <p class="label">Creator</p>
                        <div class="control">
                            <input type="text" class="input" readonly value="{{users_dict[task.creator_id].username }}"/>
                        </div>
                    </div>
                    <div class="field">
                        <p class="label">Deadline</p>
                        {{ update_task_deadline_form(project, task, user_project_role, current_user) }}
                    </div>
                    <hr>
                    <div>
                        <p>Created At: {{ format_datetime(task.created_at) }}</p>
                        <p>Updated At: {{ format_datetime(task.updated_at) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".task-status-select").forEach(function(selectElement) {
        selectElement.addEventListener("change", function() {
            this.form.submit();
        });
    });
    document.querySelectorAll(".task-priority-select").forEach(function(selectElement) {
        selectElement.addEventListener("change", function() {
            this.form.submit();
        });
    });
    document.querySelectorAll(".task-assignee-select").forEach(function(selectElement) {
        selectElement.addEventListener("change", function() {
            this.form.submit();
        });
    });
    document.querySelectorAll(".task-deadline-date").forEach(function(dateElement) {
        dateElement.addEventListener("change", function() {
            this.form.submit();
        });
    });
    document.querySelectorAll(".task-delete-form").forEach(function(formElement) {
        formElement.addEventListener("submit", function() {
            if (!confirm("Are you sure you want to delete this task?")) {
                event.preventDefault();
            }
        });
    });
});
</script>
{% endblock %}
