{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<h2 class="title is-2">Tasks</h2>
<div>
    <div class="container mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Created At</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr data-task-id="{{task.id}}">
                    <td class="is-align-content-center">{{ task.title }}</td>
                    <td>
                        <form method="POST" action="/tasks/{{ task.id }}">
                            <div class="select">
                                <select class="task-status-select" data-task-id="{{ task.id }}" name="status">
                                    <option value="open" {% if task.status.value == 'open' %}selected{% endif %}>Open</option>
                                    <option value="in_progress" {% if task.status.value == 'in_progress' %}selected{% endif %}>In Progress</option>
                                    <option value="done" {% if task.status.value == 'done' %}selected{% endif %}>Done</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/tasks/{{ task.id }}">
                            <div class="select">
                                <select class="task-priority-select" data-task-id="{{ task.id }}" name="priority">
                                    <option value="low" {% if task.priority.value == 'low' %}selected{% endif %}>Low</option>
                                    <option value="medium" {% if task.priority.value == 'medium' %}selected{% endif %}>Medium</option>
                                    <option value="high" {% if task.priority.value == 'high' %}selected{% endif %}>High</option>
                                    <option value="very_high" {% if task.priority.value == 'very_high' %}selected{% endif %}>Very High</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/tasks/{{ task.id }}">
                            <div class="select">
                                <select class="task-assignee-select" data-task-id="{{ task.id }}" name="assignee_id">
                                    <option value="0" {% if task.assignee_id is none %}selected{% endif %}>Unassigned</option>
                                    {% for user in users_dict.values() %}
                                        <option value="{{ user.id }}" {% if task.assignee_id == user.id %}selected{% endif %}>{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </td>
                    <td class="is-align-content-center">{{ task.created_at }}</td>
                    <td class="is-align-content-center">{{ users_dict[task.creator_id].username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2 class="title is-2">Create Task</h2>
        <form method="POST" action="/tasks">
            {{ form.hidden_tag() }}
            <div class="field">
                {{ form.title.label(class="label") }}
                {{ form.title(class="input") }}
                {% for error in form.title.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                {{ form.status.label(class="label") }}
                <div class="select">
                    {{ form.status(class="input") }}
                </div>
            </div>
            <div class="field">
                {{ form.priority.label(class="label") }}
                <div class="select">
                    {{ form.priority(class="input") }}
                </div>
            </div>
            <div class="field">
                {{ form.assignee_id.label(class="label") }}
                <div class="select">
                    {{ form.assignee_id(class="input") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.submit(class="button") }}
                </div>
            </div>
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.task-status-select').forEach(function(selectElement) {
        selectElement.addEventListener('change', function() {
            this.form.submit();
        });
    });
    document.querySelectorAll('.task-priority-select').forEach(function(selectElement) {
        selectElement.addEventListener('change', function() {
            this.form.submit();
        });
    });
    document.querySelectorAll('.task-assignee-select').forEach(function(selectElement) {
        selectElement.addEventListener('change', function() {
            this.form.submit();
        });
    });
});
</script>
{% endblock %}
